################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutomataNETjuegos.Contratos/bin/Debug/netstandard1.0
